/* Paleta de colores: https://coolors.co/e5ffde-bbcbcb-9590a8-634b66-18020c */

$english-violet: #634B66;
$cool-gray: #9590A8;
$ash-gray: #BBCBCB;
$nyanza: #E5FFDE;

.container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

table{
    justify-self: center;
    align-self: center;
}

th{
    text-align: center !important;
}

body{
    background-color: $ash-gray !important;
}

h1{
    color: $english-violet;
    font-size: 32px;
    padding: 20px;
    text-shadow: 2px 2px $cool-gray;
    text-align: center;
}

h2{
    color: $english-violet;
    font-size: 26px !important;
}

h3{
    color: $english-violet;
    font-size: 20px !important;
}

h4{
    color: $english-violet;
    font-size: 16px !important;
}

p{
    color: $english-violet;
}

a{
    color: $english-violet !important;
}

b{
    color: $english-violet;
}

i{
    color: $english-violet;
    font-size: 16px;
    display: block;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

progress{
    display: block;
    margin: 0 auto;
    accent-color: $english-violet;
}

font{
    color: $english-violet;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    color: $english-violet;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: $cool-gray !important;
  }

.footerText{
    color: $nyanza !important;
}

.navbar {
    background-color: $cool-gray !important;
  }
  
.navbar a {
    color: $nyanza !important;
}

.catAnimation {
    opacity: 0;
  animation-name: showImage;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes showImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 

audio {
    width: 250px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}
  
